@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white; 
}

.homepage-container {
    display: flex;
    height: 100vh;
}

.side-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/leaves.avif");
    background-size: cover;
    position: relative;
    background-color: black;
    flex: 1
}

.main-content {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    flex: 2;
}

.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16rem;
    background-color: rgba(0, 0, 0, 50%);
    padding: 1rem;
}

.logo {
    width: 100px;
}

.logo-text {
    font-family: "Norse";
    color: white;
    font-size: 6rem;
}

.image-credit {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    background-color: lightgray;
    flex: 1;
}

.spacer {
    flex: 2;
}

.top-text {
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 500px;
    flex: 1
}

.form-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(5px 5px 5px gray);
    flex: 1;
    padding-top: 25px;
    padding-left: 50px;

    padding-right: 40%;
}

.middle-text {
    font-size: 2rem;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

input {
    font-size: 16px;
    padding: 8px;
    width: 320px;
    border: solid 2px #E5E7EB;
    border-radius: 4px;
}

.bottom-section {
    flex: 1;
    padding-left: 50px;
}

.create-account-btn {
    margin-top: 25px;
    margin-bottom: 25px;
    border: none;
    border-radius: 8px;
    padding: 15px 50px;
    background-color: #596D48;
    color: white;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
    border: solid 2px blue;
    box-shadow: 2px 2px 10px lightgray;
}

input:user-invalid {
    border: solid 2px red;
}

label {
    font-family: "BBH Bogle", sans-serif;
    color: gray;
    letter-spacing: 0.5ch;
}