@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
}

a {
    color: white; 
}

.homepage-container {
    display: flex;
    height: 100vh;
}

.side-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/leaves.avif");
    background-size: cover;
    position: relative;
    background-color: black;
    flex: 1
}

.main-content {
    background-color: gray;
    flex: 2;
}

.logo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 16rem;
    background-color: rgba(0, 0, 0, 50%);
    padding: 1rem;
}

.logo {
    width: 100px;
}

.logo-text {
    font-family: "Norse";
    color: white;
    font-size: 6rem;
}

.image-credit {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}